@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<h4>Sejam bem vindo ao sistema de controle de contas</h4>
<p>Cadastre suas contas a pagar e receber para visualizar seu histórico financeiro.</p>